<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Balls Vue</title>
</head>
<body>
    <div id="root">
        
            <h1>All tasks</h1>

        <ul>
            <li v-for="task in tasks"  v-text="task.description"></li>
        </ul>
        <ul>
                <li v-for="task in tasks"  v- v-text="task.description"></li>
            </ul>

      
    </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

        <script>
        

            new Vue ({
                el: "#root",
                data: {
                    tasks: [
                        {description: "paint basement", completed: false},
                        {description: "walk the dog", completed: true},
                        {description: "do the dishes",completed: true},
                        {description: "bang the old wife", completed:false}
                      
                    ]

                    
                },
                
                
            })


        </script>

    
</body>
</html>